img {
    width: 286px;
    height: 190px;
}

.card {
    height: 386px;
}

.product-price {
padding-top: 10px;
}

.card-body{

}

.product-bottom-details {
    overflow: hidden;
    border-top: 2px solid #eee;
    padding-top: 10px;
}

.btn-count {
    max-width: 30px;
    max-height: 35px;
    margin-bottom: 1px;
}

.window-count {
    width: 30px;
    height: 35px;
    margin-bottom: 1px;
}
